In [80]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder

In [81]:
df = pd.read_csv('vrudata.csv')

In [82]:
df

           acc_x     acc_y     acc_z   target
0      -0.113725  0.083797  9.654618  not car
1      -0.098162  0.087388  9.630676  not car
2      -0.099359  0.094571  9.645041  not car
3      -0.099359  0.089783  9.649830  not car
4      -0.118513  0.087388  9.634268  not car
...          ...       ...       ...      ...
119995 -0.624887  7.577648  6.683414      car
119996 -0.508768  7.480683  6.556521      car
119997 -0.409408  7.443573  6.370971      car
119998 -0.373495  7.406463  6.108806      car
119999 -0.410606  7.387310  5.826290      car

[120000 rows x 4 columns]

In [83]:
df['target'] = df['target'].replace(0, 'not car')
df['target'] = df['target'].replace(1, 'car')

In [84]:
df.to_csv('vrudata.csv', encoding = 'utf-8', index = False)